
@media (min-width: 1200px){
    .container {
        width: 100%;
        max-width: 1470px;
    }
}
@media (min-width: 1200px){
    .background_header > img{
        min-height: 500px;
    }
}
@media (min-width: 1800px) and (max-width: 1850px){
    /*.img_smal_decor{
        right: calc(-7% + 240px);
    }*/
    .wp_content_header{
        left: 11%;
    }
}
@media (min-width: 1700px) and (max-width: 1800px){
    .wp_content_header{
        left: 9%;
    }
    .box_img_slider_decor{
        right: 14%;
    }
    .img_smal_decor{
        right: 7%;
    }
}
@media (min-width: 1600px) and (max-width: 1700px){
    .wp_content_header{
        left: 6%;
    }
    .box_img_slider_decor{
        right: 11%;
    }
    .img_smal_decor{
        right: 3%;
    }
}
@media (min-width: 1500px) and (max-width: 1600px){
    .wp_content_header{
        left: 5%;
    }
    .box_img_slider_decor{
        right: 9%;
    }
    .img_smal_decor{
        right: 1%;
    }
}
@media (min-width: 1471px) and (max-width: 1499px){
    .wp_content_header{
        left: 25px;
    }
    .box_img_slider_decor{
        right: 9%;
    }
    .img_smal_decor{
        right: 1%;
    }
}
@media (max-width: 1471px){
    .wp_content_header{
        left: 15px;
    }
    .box_img_slider_decor{
        right: 9%;
    }
    .img_smal_decor{
        right: 15px;
    }
}
@media (min-width: 1550px) and (max-width: 1700px){
    .decor_line_bg img{
        width: 90%;
    }
}
@media (min-width: 991px) and (max-width: 1470px){
    .box_category_home_1, .box_category_home_3 {
        width: 30%;
    }
    .box_category_home_2{
        width: calc(40% - 20px);
    }
    .box_category_home_4{
        width: calc(37% - 10px);
    }
    .box_category_home_5{
        width: 26%;
    }
    .box_category_home_6{
        width: calc(37% - 10px);
    }
    .wp_slider_review .swiper-button-next, .wrapper_sec_moment .swiper-button-next{
        right: 0;
    }
    .wp_slider_review .swiper-button-prev, .wrapper_sec_moment .swiper-button-prev{
        left: 0;
    }
    .decor_right_review{
        display: none;
    }
    .decor_left_review{
        display: none;
    }
    .sec_contact{
        padding-bottom: 30px;
    }
}
@media (max-width: 1680px){
    .sec_contact{
        background-size: 120%;
        height: auto;
        padding-bottom: 30px;
    }
}
@media (max-width: 1471px){
    .logo_page{
        width: 15%;
    }
    .wp_content_header h1{
        font-size: 40px;
        line-height: 53.76px;
        margin-bottom: 10px;
    }
    .wp_content_header p{
        font-size: 16px;
        margin-bottom: 24px;
    }
    .btn_khampha, .btn_xemvideo{
        height: 46px;
        line-height: 46px;
        border-radius: 46px;
        font-size: 16px;
    }
    .btn_xemvideo span{
        width: 30px;
        height: 30px;
    font-size: 10px;
    }
    .decor_line_bg img{
        width: 80%;
    }
    /*.box_img_slider_decor{
        width: 50%;
    }
    .item_slider_bisd{
        width: 55%;
    }
    .box_img_slider_decor:before{
        height: 81%;
        background-size: contain;
    }
    .box_img_slider_decor{
        padding-top: 140px;
    }
    .box_img_slider_decor:before{
        top: 140px;
    }
    .img_smal_decor img{
        width: 80%;
    }
    .img_smal_decor{
        right: calc(-5% + 240px);
    }*/
    .menu_header ul li a{
        font-size: 14px;
    }
    .menu_header ul li {
        padding: 0 20px;
    }
    /*.box_img_slider_decor .swiper-container-horizontal > .swiper-pagination-bullets {
        width: 371px;
        position: absolute;
        left: 21px;
    }*/
}
@media (max-width: 1430px){
    .sec_contact{
        background-size: cover;
    }
}
@media (max-width: 1300px){
    .menu_header ul li a {
        font-size: 12px;
    }
    .right_wp_main_category{
        padding-left: 30px;
    }
    .list_product_page{
        --spacing: 26px;
    }
    .slider_bisd .swiper-wrapper {
        max-width: 420px;
    }
    .item_slider_bisd{
        max-width: 420px;
    }
    .img_smal_decor {
        right: 0;
    }
    .sec_category_home {
        padding-top: 130px;
    }
    .img_smal_decor img{
        width: 90%;
    }
}
@media (max-width: 1350px){
    .left_wp_main_details_product{
        width: 50%;
    }
    .right_wp_main_details_product{
        width: 50%;
    }
    .wp_sec_policy{
        padding: 0;
    }
    .list_swatch ul{
        flex-wrap: wrap;
    }
    .box_moment img {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }
    .custom_swipper_2 {
        width: calc((100% - 420px)/3) !important;
    }
}
@media (max-width: 1200px){
    .menu_header ul li a{
        font-size: 12px;
    }
    .content_product_tab a{
        font-size: 18px;
    }
}
@media (max-width: 1200px){
    .logo_page {
        width: 10%;
    }
    .search_header input {
        width: 120px;
    }
    .menu_header ul li {
        padding: 0 13px;
    }
    .wp_content_header h1 {
        font-size: 24px;
        line-height: 34.76px;
    }
    .wp_content_header p {
        font-size: 12px;
        margin-bottom: 14px;
    }
    .btn_khampha, .btn_xemvideo {
        height: 35px;
        line-height: 35px;
        border-radius: 35px;
        font-size: 12px;
        width: 170px
    }
    .btn_xemvideo span {
        width: 25px;
        height: 25px;
        font-size: 10px;
    }
    .decor_line_bg img {
        width: 60%;
    }
    .col_right_top_footer h3{
        font-size: 14px;
    }
    .col_right_top_footer p{
        font-size: 12px;
    }
    .col_right_top_footer {
        padding: 0 20px;
    }
    .content_left_ft h3 {
    font-size: 16px;}
    .location_ft p{
        font-size: 12px;
    }
}
@media (max-width: 1199px){
    .background_header > img {
        min-height: 500px;
    }
    .wp_content_header h1 {
        font-size: 40px;
        line-height: 53.76px;
    }
    .wp_content_header p {
        font-size: 16px;
        margin-bottom: 24px;
    }
}
@media (max-width: 1149px){
    .wp_content_header h1 {
        font-size: 30px;
        line-height: 43.76px;
    }
    .wp_content_header p {
        font-size: 14px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1025px){
    .item_slider_bisd {
        max-width: 360px;
    }
    .slider_bisd .swiper-wrapper {
        max-width: 360px;
    }
    .img_smal_decor img {
        width: 75%;
    }
    .sec_category_home {
        padding-top: 100px;
    }
    .background_header > img {
        min-height: 500px;
    }
}
@media (max-width: 850px){
    .item_slider_bisd {
        width: 100%
    }
}
@media (max-width: 991px){
    .menu_header{
        display: none;
    }
    .logo_page {
        width: 25%;
    }
    .decor_line_bg img {
        width: 60%;
    }
    .wp_content_header{
        order: 2;
    }
    .top_footer{flex-wrap: wrap;}
    .content_left_ft{
        width: 100%;
        margin-bottom: 20px;
    }
    .right_top_footer{
        justify-content: space-between;
        width: 100%;
    }
    .wp-menu-mobile{
        display: block;
    }
    .search_and_action_top_header{
        padding-right: 30px;
    }
    .wp_content_header h1 {
        font-size: 20px;
        line-height: 30.76px;
    }
    .wp_content_header p{
        font-size: 12px;
    }
    .btn_khampha, .btn_xemvideo{
        width: 130px;
    }
    .background_header > img{
        min-height: 300px;
    }
    .item_slider_bisd {
        max-width: 260px;
    }
    .wp_content_header{
        top: 170px;
    }
    .img_smal_decor img {
        width: 60%;
    }
    .img_smal_decor {
        right: -90px;
    }
    .slider_bisd .swiper-wrapper {
        max-width: 260px;
    }
    .sec_category_home{
        padding-top: 100px;
    }
    .box_category_home_1{
        width: calc(50% - 5px);
        order: 1;
    }
    .box_category_home_3{
        width: calc(50% - 5px);
        order: 2;
    }
    .box_category_home_2{
        width: calc(65% - 5px);
        order: 3;
    }
    .box_category_home_5{
        width: calc(35% - 5px);
        order: 4;
        margin-right: 0;
    }
    .box_category_home_4{
        width: calc(50% - 5px);
        order: 5;
    }
    .box_category_home_6{
        width: calc(50% - 5px);
        order: 6;
    }
    .content_category_home h3 {
        font-size: 26px;
    }
    .content_category_home a{
        font-size: 14px;
    }
    .wp_sec_policy{
        padding: 0;
    }
    .wrapper_Sec_draw{
        padding: 65px 30px 76px 30px;
        flex-wrap: wrap;
    }
    .content_sec_draw{
        width: 100%;
        padding-left: 200px;
    }
    .img_decor_wall {
        position: absolute;
        left: 0%;
        top: 25%;
    }
    .img_decor_text{
        top: 42%;
    }
    .left_title_tab_sec_product h3{
        font-size: 23px;
        line-height: 40px;
    }
    .nav-item{
        margin: 0 20px;
    }
    .title_tab_sec_product{
        align-items: center;
    }
    .list_tab_product{
        padding: 0;
    }
    .content_product_tab a{
        font-size: 20px;
    }
    .title_sec_quality{
        padding-top: 5px;
        font-size: 23px;
    }
    .content_quality{
        padding: 0 20px;
        margin-top: 50px;
    }
    .content_quality_left{
        margin-right: 20px;
    }
    .title_sec_review{
        font-size: 23px;
        margin-bottom: 20px;
        line-height: 40px;
    }
    .wp_slider_review .swiper-button-next, .wrapper_sec_moment .swiper-button-next{
        right: 0;
    }
    .wp_slider_review .swiper-button-prev, .wrapper_sec_moment .swiper-button-prev{
        left: 0;
    }
    .decor_right_review{
        display: none;
    }
    .decor_left_review{
        display: none;
    }
    .text_item_content_quality p, .content_sec_draw p, .box_policy p, .text_content_box_review p{
        font-size: 14px;
    }
    .nav-pills .nav-link{
        padding: 0 0 5px 0;
    }
    .sec_product{
        padding: 40px 0 30px 0;
    }
    .sec_category_home{
        padding-bottom: 40px;
    }
    .sec_policy{
        padding-bottom: 40px;
    }
    .sec_review{
        padding-top: 40px;
    }
    .title_sec_blog{
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .box_blog_big{
        margin-bottom: 30px;
    }
    .custom_swipper_2 {
        width: calc((100% - 280px)/2) !important;
    }
    .custom_swipper{
        width: 280px !important;
    }
    .box_flow_Insta h3{
        font-size: 22px;
        line-height: 28.52px;
    }
    .box_flow_Insta{
        padding: 0 15px;
    }
    .wrapper_sec_moment .swiper-slide{
        height: 100%;
    }
    .wrapper_sec_moment .box_moment{
        height: 100%;
    }
    .wrapper_sec_moment .swiper-button-prev, .wrapper_sec_moment .swiper-button-next{
        display: none;
    }
    .box_flow_Insta a{
        font-size: 14px;
    }
    .sec_contact{
        background-size: cover;
    }
    .sec_moment{
        padding: 40px 0;
    }
    .left_sec_contact{
        text-align: center;
        margin-bottom: 30px;
    }
    .left_sec_contact a{
        text-align: left;
        margin: 20px auto;
        padding: 10px 0 10px 40px;
        font-size: 14px;
    }
    .left_sec_contact h3{
        font-size: 23px;
    }
    .inbox_blanc h3, .news_letter h3{
        font-size: 23px;
        margin-bottom: 5px;
    }
    .inbox_blanc p, .news_letter p{
        margin-bottom: 10px;
    }
    .right_sec_contact{
        padding-right: 0;
        text-align: center;
    }
    .sec_contact{
        padding-bottom: 30px;
    }
    .input_newsletter{
        margin: 0 auto;
    }
    .content_blog_big h4, .content_item_news_small h4{
        font-size: 14px;
    }
    .content_blog_big a, .content_item_news_small a{
        font-size: 20px;
    }
    .title_sec_moment{
        font-size: 23px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .body{
        overflow-x: hidden;
    }
    .bg_breadcrumb > img {
        height: 350px;
    }
    .wp_title_page_category_right{
        text-align: right;
    }
    .wp_title_page_category_right img{
        max-width: 70%;
    }
    .title_page_category{
        bottom: -40px;
    }
    .wp_title_page_category_left{
        font-size: 60px;
        line-height: 60px;
    }
    .left_hmpc h3{
        font-size: 30px;
    line-height: 40.64px;
    }
    .left_hmpc p{
        font-size: 16px;
    }
    .right_hmpc .nav-pills .nav-link{
        font-size: 16px;
    }
    .left_wp_main_category {
        width: 250px;
    }
    .page_left_category .la-scroll-fix-infor-user .ng-has-child1 a{
        font-size: 16px !important;
    }
    .page_left_category .la-scroll-fix-infor-user .la-nav-menu-items .la-nav-list-items .ng-has-child1 a i{
        font-size: 14px;
    }
    .page_left_category .la-scroll-fix-infor-user .ng-has-child2 a{
        font-size: 14px;
    }
    .page_left_category .la-scroll-fix-infor-user .la-nav-menu-items .la-nav-list-items .ng-has-child2 a i{
        font-size: 10px;
    }
    .filter-item label{
        font-size: 14px;
    }
    .list_product_page{
        --columns: 2;
    }
    .right_wp_main_details_product{
        width: 100%;
        padding: 0;
    }
    .left_wp_main_details_product{
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }
    .pro_small .swiper-wrapper{
        justify-content: center;
    }
    .wrapper_main_details_product{
        flex-wrap: wrap;
    }
    .Speci_product{
        padding: 0;
    }
    .wrapper_Speci_product{
        flex-wrap: wrap;
    }
    .left_wrapper_Speci_product, .right_wrapper_Speci_product{
        width: 100%;
        padding: 0;
    }
    .description_detail_product ul li, .description_detail_product ul{
        width: 100%;
    }
    .other_infor > div{
        padding: 0;
    }
    .other_infor ul:last-child{
        margin-left: 0;
    }
    .other_infor > div{
        display: inherit;
    }
    .other_infor ul:first-child{
        margin-bottom: 30px;
    }
    .wp_sec_products_related{
        padding: 0;
    }
    #modal_catalog .modal-dialog{
        top: 0px;
        margin-top: 30px;
        transform: translateX(-50%) !important;
        max-width: 92%;
    }
    .list_catalog ul li img{
        width: 70px;
        height: 70px;
    }
    #modal_catalog .modal-body{
        padding: 20px 30px;
    }
    #modal_catalog .modal-header{
        padding: 20px 30px;
    }
    .left_main_cart{
        width: 100%;
        margin-right: 0;
    }
    .wrapper_main_cart{
        flex-wrap: wrap;
    }
    .right_main_cart{
        width: 100%;
        margin-top: 20px;
    }
    .box_blog_big{
        width: 100%;
        float: inherit;
        padding: 0;
    }
    .item_news_small{
        width: 100%;
        float: inherit;
    }
}
@media (max-width: 800px){
    .header_tab_product_page h3{
        font-size: 18px;
    }
    .sort_product label{
        font-size: 14px;
    }
    .sort_product button{
        min-width: 160px;
        height: 35px;
        font-size: 12px;
    }
}
@media (max-width: 767px){
    .search_and_action_top_header{
        display: none;
    }
    .logo_page {
         width: 50%; 
    }
    .wp_header_top{
        justify-content: center;
    }
    .content_header{
        position: relative;
    }
    .background_header > img {
        height: 470px;
    }
    .wrapper_content_header{
        flex-wrap: wrap;
    }
    .slider_bisd .swiper-wrapper {
        max-width: 330px;
    }
    .item_slider_bisd {
        max-width: 330px;
    }
    .decor_light_bg{

        width: 400%;
    }
    .box_img_slider_decor:after{
        width: 72px;
        background-size: cover;
        height: 72px;
        top: calc(100% - 27px);
        left: -25px;
    }
    .box_img_slider_decor{
        left: 50%;
        transform: translateX(-50%);
        right: inherit;
        top: 128px;
    }
    .decor_line_bg img {
        width: 80%;
    }
    .wp_content_header{
        width: 100%;
    }
    .img_smal_decor img{
        display: none;
    }
    .wp_content_header h1{
        color: #3D2C28;
        font-size: 26px;
        line-height: 38.25px;
        margin-bottom: 5px;
    }
    .wp_content_header p{
        color: #B18979;
        font-size: 16px;
        line-height: 21.86px;
    }
    .wp_content_header {
        text-align: center;
        bottom: -300px;
        top: inherit;
        left: 0;
        padding: 0 15px;
    }
    .sec_category_home {
        padding-top: 316px;
    }
    .list_btn_content_header{
        justify-content: center;
        width: 100%;
    }
    .list_btn_content_header a{
        margin: 0 3px;
        width: 50%;
    }
    .btn_khampha, .btn_xemvideo {
        height: 56px;
        line-height: 56px;
        font-size: 20px;
    }
    .btn_xemvideo span {
        width: 36px;
        height: 36px;
        font-size: 12px;
    }
    .wp-menu-mobile{
        left: 15px;
        right: inherit;
    }
    .bottom_ft{
        display: none;
    }
    .right_top_footer{
        flex-wrap: wrap;
    }
    .col_right_top_footer{
        padding: 0;
        width: 50%;
    }
    .col_right_top_footer p {
        font-size: 14px;
    }
    .col_right_top_footer h3 {
        font-size: 16px;
    }
    .location_ft p{
        font-size: 14px;
    }
    .content_header{
        top: 0;
        transform: translateY(0);
    }
    .box_category_home{
        width: 100% !important;
        margin: 0;
        height: 140px;
        margin-top: 10px;
    }
    .box_category_home_1 .img_category_home img{
        max-height: 128px;
    }
    .box_category_home_2 .img_category_home img{
        max-height: 97px;
    }
    .box_category_home_3 .img_category_home img{
        max-height: 116px;
    }
    .box_category_home_4 .img_category_home img{
        max-height: 139px;
    }
    .box_category_home_5 .img_category_home img{
        max-height: 112px;
    }
    .box_category_home_6 .img_category_home img{
        max-height: 70px;
    }
    .box_category_home_1{
        order: 1;
    }
    .box_category_home_2{
        order: 2;
    }
    .box_category_home_3{
        order: 3;
    }
    .box_category_home_4{
        order: 4;
    }
    .box_category_home_5{
        order: 5;
    }
    .box_category_home_6{
        order: 6;
    }
    .content_category_home h3{
        font-size: 26px;
        line-height: 35.52px;
        margin-bottom: 0;
    }
    .content_category_home a img{
        height: 8.75px;
    }
    .box_category_home_1 .img_category_home{
        top: 6px;
        right: 13px;
    }
    .box_category_home_2 .content_category_home{
        float: right;
    }
    .box_category_home_2 .img_category_home{
        left: 4px;
        bottom: 3px;
    }
    .box_category_home_3 .img_category_home{
        top: 11px;
        right: 13px;
    }
    .box_category_home_4 .content_category_home{
        text-align: left;
        float: right;
    }
    .box_category_home_5 .content_category_home{
        text-align: left;
    }
    .box_category_home_5 .img_category_home{
        top: 16px;
        right: 13px;
        left: inherit;
    }
    .box_category_home_6 .content_category_home{
        text-align: left;
        float: right;
    }
    .wp_sec_policy{
        flex-wrap: wrap;
    }
    .box_policy{
        width: 50%;
        margin-top: 34px;
    }
    .wrapper_Sec_draw{
            padding: 207px 0 49px 0;
    }
    .content_sec_draw{
        padding-left: 0;
    }
    .img_decor_text{
        top: 72px;
        right: 45px;
    }
    .content_sec_draw:before{
        display: none;
    }
    .img_decor_wall{
        display: none;
    }
    .content_sec_draw h2{
        font-size: 26px;
        line-height: 35.52px;
        margin-bottom: 13px;
    }
    .content_sec_draw p{
        margin-bottom: 19px;
    }
    .content_sec_draw{
        padding: 0 30px;
    }
    .img_sec_draw{
        margin-top: 46px;
    }
    .title_tab_sec_product{
        flex-wrap: wrap;
    }
    .left_title_tab_sec_product{
        width: 100%;
    }
    .left_title_tab_sec_product h3{
        text-align: center;
        margin-bottom: 25px;
        font-size: 40px;
        line-height: 54.64px;
    }
    .right_title_tab_sec_product .nav{
        white-space: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .nav-item{
        margin: 0 25px;
    }
    .sec_product .container{
        padding-right: 0px;
    }
    .list_tab_product{
        padding-right: 40px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .btn_view_product{
        padding-right: 40px;
    }
    .decor_subtract_quality img{
        height: 170px;
        width: 100%;
        object-fit: cover;
    }
    .title_sec_quality{
        padding-top: 5px;
        font-size: 23px;
    }
    .content_quality{
        flex-wrap: wrap;
    }
    .content_quality_left{
        width: 100%;
        margin-right: 0;
        margin-bottom: 43px;
    }
    .content_quality_right{
        width: 100%;
    }
    .content_quality{
        padding: 0 50px;
    }
    .title_sec_review{
        font-size: 40px;
        line-height: 54.64px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    .img_box_review img{
        width: 100%;
    }
    .slider_review{
        padding: 0 15%;
    }
    .sec_review .container{
        padding: 0;
    }
    .box_review{
        padding: 10px;
    }
    .content_box_review{
        padding: 0 10px;
    }
    .list_news_small{
        display: none;
    }
    .sec_blog {
        padding-top: 52px;
    }
    .title_sec_blog{
        font-size: 40px;
        line-height: 54.64px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .btn_blog_view{
        display: block;
    }
    .sec_moment{
        padding: 30px 0 43px 0;
    }
    .title_sec_moment{
        font-size: 40px;
        line-height: 54.64px;
        font-weight: 600;
        margin-bottom: 9px;
    }
    .custom_swipper_2 {
        width: 250px !important;
    }
    .custom_swipper{
        width: 250px !important;
    }
    .box_flow_Insta{
        height: 250px;
    }
    .sec_moment .container{
        padding-right: 0px;
    }
    .box_moment img{
        width: 250px;
        height: 250px;
    }
    .left_sec_contact h3{
        font-size: 30px;
        line-height: 40.98px;
        text-align: left;
    }
    .left_sec_contact{
        padding: 0 20px;
    }
    .left_sec_contact a{
        text-align: center;
        padding: 20px 40px;
        font-size: 18px;
    }
    .left_sec_contact{
        margin-bottom: 38px;
    }
    .right_sec_contact{
        padding: 0 20px;
        text-align: left;
    }
    .inbox_blanc h3, .news_letter h3{
        font-size: 30px;
        line-height: 40.98px;
        margin-bottom: 13px;
    }
    .inbox_blanc p, .news_letter p{
        margin-bottom: 19px;
    }
    .input_newsletter{
        width: 100%;
    }
    .right_title_tab_sec_product{
        overflow-x: auto;
    }
    #main_home{
        overflow-x: hidden;
    }
    .background_header > img {
        height: 300px;
    }
    .wp_title_page_category{
        flex-wrap: wrap;
    }
    .wp_title_page_category_left{
        width: 100%;
        text-align: center;
    }
    .bg_breadcrumb{
        overflow: inherit !important;
    }
    .wp_title_page_category_right img{
        max-width: 100%;
    }
    .wp_title_page_category_left{
        font-size: 40px;
        line-height: 54.64px;
    }
    .header_main_page_category{
        flex-wrap: wrap;
    }
    .right_hmpc .nav{
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
    }
    .right_hmpc{
        overflow-x: auto;
    }
    .main_page_category {
        padding-top: 60px;
    }
    .left_hmpc{
        margin-bottom: 32px;
    }
    .left_hmpc h3{
        font-size: 40px;
        line-height: 54.64px;
    }
    .left_hmpc p{
        font-size: 20px;
        line-height: 27.32px;
    }
    .right_hmpc .nav-pills .nav-link {
        font-size: 18px;
    }
    .btn_drop_filter{
        display: block;
    }
    .left_hmpc{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .btn_drop_filter button{
        background: transparent;
        border: 1px solid #4F525D;
        color: #232734;
        width: 100px;
        height: 30px;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.86px;
        border-radius: 30px;
        outline: 0;
    }
    .left_wp_main_category {
        width: 350px;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 9999;
        padding: 30px;
        overflow-y: auto;
        height: 100%;
        opacity: 0;
        transform: translateX(100%);
        visibility: hidden;
        transition: all .5s;
    }
    .left_wp_main_category.active{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
    .right_tfpp{
        display: none;
    }
    .btn_close_nav_mobie button{
        display: block;
    }
    .right_wp_main_category{
        width: 100%;
        padding-left: 0;
    }
    .header_tab_product_page{
        display: none;
    }
    .mobile-main-menu.active{
        width: 100%;
    }
    .btn_action_nav{
        display: flex;
        justify-content: flex-end;
    }
    .btn_close_nav_mobie{
        display: block;
    }
    .breadcrumb_custom{
        display: none;
    }
    .main_details_product{
        padding-top: 30px;
    }
    .swatch-element{
        margin-bottom: 10px;
    }
    .Speci_product{
        padding-top: 50px;
    }
    .classify{
        flex-wrap: wrap;
        border: 1px solid #D9D9D9;
        margin-top: 30px;
        border-radius: 4px;
    }
    .classify img{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .list_img_des{
        padding-right: 20%;
    }
    .list_img_des{
        margin-top: 0;
    }
    .main_cart{
        padding-top: 30px;
    }
    .title_main_cart {
        line-height: 35.18px;
        font-size: 24px;
    }
    .item_product_cart{
        flex-wrap: wrap;
    }
    .left_item_product_cart{
        width: 100%;
        margin-bottom: 10px;
    }
    .img_left_item_product_cart img{
        width: 80px;
    }
    .center__item_product_cart{
        width: 70%;
    }
    .delete_item_Cart{
        width: 30%;
    }
    .item_news_small{
        display: none;
    }
    .title_page_category{
        bottom: -65px;
    }
}
@media (max-width: 350px){
    .left_wp_main_category{
        width: 100%;
    }
}
@media (max-width: 406px){
    .wp_content_header h1{
        font-size: 30px;
        line-height: 40.98px;
        padding-top: 12px;
    }
}
@media (min-width: 450px) and (max-width: 500px){
    .wp_content_header{
        margin-top: 41%;
    }
}
@media (min-width: 501px) and (max-width: 550px){
    .wp_content_header{
        margin-top: 45%;
    }
}
@media (min-width: 551px) and (max-width: 600px){
    .wp_content_header{
        margin-top: 47%;
    }
}
@media (min-width: 601px) and (max-width: 650px){
    .wp_content_header{
        margin-top: 50%;
    }
}
@media (min-width: 992px) and (max-width: 1469px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
}
}
@media (min-width: 768px) and (max-width: 992px){
.container, .container-md, .container-sm {
    max-width: 100%;
}
}